<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thingslink.user.mapper.SysDeptMapper">

	<resultMap type="SysDept" id="DeptPO">
		<!--@TABLE dept-->
		<id property="deptId" column="dept_id"/>
		<result property="tenantId" column="tenant_id"/>
		<result property="parentId" column="parent_id"/>
		<result property="ancestors" column="ancestors"/>
		<result property="deptName" column="dept_name"/>
		<result property="status" column="status"/>
		<result property="deptSort" column="dept_sort"/>
		<result property="contact" column="contact"/>
		<result property="email" column="email"/>
		<result property="createAt" column="create_at"/>
		<result property="createId" column="create_id"/>
		<result property="updateAt" column="update_at"/>
		<result property="updateId" column="update_id"/>
	</resultMap>


	<sql id="SELECT_ALL_COLUMN">
		SELECT dept_id,
		tenant_id,
		parent_id,
		ancestors,
		dept_name,
		dept_sort,
		contact,
		email,
		status,
		create_at,
		create_id,
		update_at,
		update_id
		FROM sys_dept
	</sql>

	<select id="listChildren" parameterType="Long" resultMap="DeptPO">
		<include refid="SELECT_ALL_COLUMN"/>
		<where>
			<if test="deptId != null and deptId != 0">
				AND (dept_id = #{deptId} OR FIND_IN_SET(#{deptId}, ancestors))
			</if>
			<if test="parentId != null and parentId != 0">
				AND parent_id = #{parentId}
			</if>
			<if test="deptName != null and deptName != ''">
				AND dept_name LIKE CONCAT('%', #{deptName}, '%')
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
		</where>
		ORDER BY dept_sort, dept_id DESC
	</select>

</mapper>
