<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thingslink.order.mapper.CouponMapper">

    <resultMap id="CouponPO" type="Coupon">
        <id column="coupon_id" property="couponId" />
        <result column="coupon_title" property="couponTitle" />
        <result column="coupon_status" property="couponStatus" />
        <result column="coupon_type" property="couponType" />
        <result column="coupon_desc" property="couponDesc" />
        <result column="limit_amount" property="limitAmount" />
        <result column="discount_amount" property="discountAmount" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="sum_quantity" property="sumQuantity" />
        <result column="remaining_quantity" property="remainingQuantity" />
        <result column="limit_quantity" property="limitQuantity" />
    </resultMap>

    <sql id="SELECT_ALL_COLUMN">
        SELECT coupon_id,
               coupon_title,
               coupon_status,
               coupon_type,
               coupon_desc,
               limit_amount,
               discount_amount,
               begin_time,
               end_time,
               sum_quantity,
               remaining_quantity,
               limit_quantity
        FROM coupon
    </sql>

    <!--查询单个-->
    <select id="getById" resultMap="CouponPO">
        <include refid="SELECT_ALL_COLUMN"/>
        WHERE coupon_id = #{couponId}
    </select>

    <!--查询指定行数据-->
    <select id="list" resultMap="CouponPO">
        <include refid="SELECT_ALL_COLUMN"/>
        <where>
            <if test="couponStatus != null and couponStatus != ''">
                AND coupon_status = #{couponStatus}
            </if>
            <if test="couponType != null and couponType != ''">
                AND coupon_type = #{couponType}
            </if>
        </where>
        ORDER BY coupon_id DESC
    </select>

    <!-- 新增选择列 -->
    <insert id="insert" keyProperty="couponId" useGeneratedKeys="true">
        INSERT INTO coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="couponId != null">coupon_id,</if>
            <if test="couponTitle != null and couponTitle != ''">coupon_title,</if>
            <if test="couponStatus != null and couponStatus != ''">coupon_status,</if>
            <if test="couponType != null and couponType != ''">coupon_type,</if>
            <if test="couponDesc != null and couponDesc != ''">coupon_desc,</if>
            <if test="limitAmount != null">limit_amount,</if>
            <if test="discountAmount != null">discount_amount,</if>
            <if test="beginTime != null">begin_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="sumQuantity != null">sum_quantity,</if>
            <if test="remainingQuantity != null">remaining_quantity,</if>
            <if test="limitQuantity != null">limit_quantity,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="couponId != null">#{couponId},</if>
            <if test="couponTitle != null and couponTitle != ''">#{couponTitle},</if>
            <if test="couponStatus != null and couponStatus != ''">#{couponStatus},</if>
            <if test="couponType != null and couponType != ''">#{couponType},</if>
            <if test="couponDesc != null and couponDesc != ''">#{couponDesc},</if>
            <if test="limitAmount != null">#{limitAmount},</if>
            <if test="discountAmount != null">#{discountAmount},</if>
            <if test="beginTime != null">#{beginTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="sumQuantity != null">#{sumQuantity},</if>
            <if test="remainingQuantity != null">#{remainingQuantity},</if>
            <if test="limitQuantity != null">#{limitQuantity},</if>
        </trim>
    </insert>

    <insert id="insertBatch" keyProperty="couponId" useGeneratedKeys="true">
        INSERT INTO coupon
        (coupon_id, coupon_title, coupon_status, coupon_type, coupon_desc, limit_amount, discount_amount, begin_time,
        end_time, sum_quantity, remaining_quantity, limit_quantity)
        VALUES
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.couponId}, #{entity.couponTitle}, #{entity.couponStatus}, #{entity.couponType},
            #{entity.couponDesc}, #{entity.limitAmount}, #{entity.discountAmount}, #{entity.beginTime},
            #{entity.endTime}, #{entity.sumQuantity}, #{entity.remainingQuantity}, #{entity.limitQuantity})
        </foreach>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateById">
        UPDATE coupon
        <set>
            <if test="couponTitle != null and couponTitle != ''">coupon_title = #{couponTitle},</if>
            <if test="couponStatus != null and couponStatus != ''">coupon_status = #{couponStatus},</if>
            <if test="couponType != null and couponType != ''">coupon_type = #{couponType},</if>
            <if test="couponDesc != null and couponDesc != ''">coupon_desc = #{couponDesc},</if>
            <if test="limitAmount != null">limit_amount = #{limitAmount},</if>
            <if test="discountAmount != null">discount_amount = #{discountAmount},</if>
            <if test="beginTime != null">begin_time = #{beginTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="sumQuantity != null">sum_quantity = #{sumQuantity},</if>
            <if test="remainingQuantity != null">remaining_quantity = #{remainingQuantity},</if>
            <if test="limitQuantity != null">limit_quantity = #{limitQuantity},</if>
        </set>
        WHERE coupon_id = #{couponId}
    </update>

    <!--通过主键批量修改数据-->
    <update id="updateBatchById">
        UPDATE coupon
        <trim prefix="SET" suffixOverrides=",">
            <trim prefix="coupon_title = CASE coupon_id" suffix="END,">
                <foreach collection="entities" item="entity">
                    <if test="entity.couponTitle != null">
                        WHEN #{entity.couponId} THEN #{entity.couponTitle}
                    </if>
                </foreach>
            </trim>
            <trim prefix="coupon_status = CASE coupon_id" suffix="END,">
                <foreach collection="entities" item="entity">
                    <if test="entity.couponStatus != null and entity.couponStatus != ''">
                        WHEN #{entity.couponId} THEN #{entity.couponStatus}
                    </if>
                </foreach>
            </trim>
            <trim prefix="coupon_type = CASE coupon_id" suffix="END,">
                <foreach collection="entities" item="entity">
                    <if test="entity.couponType != null and entity.couponType != ''">
                        WHEN #{entity.couponId} THEN #{entity.couponType}
                    </if>
                </foreach>
            </trim>
            <trim prefix="coupon_desc = CASE coupon_id" suffix="END,">
                <foreach collection="entities" item="entity">
                    <if test="entity.couponDesc != null">
                        WHEN #{entity.couponId} THEN #{entity.couponDesc}
                    </if>
                </foreach>
            </trim>
            <trim prefix="limit_amount = CASE coupon_id" suffix="END,">
                <foreach collection="entities" item="entity">
                    <if test="entity.limitAmount != null">
                        WHEN #{entity.couponId} THEN #{entity.limitAmount}
                    </if>
                </foreach>
            </trim>
            <trim prefix="discount_amount = CASE coupon_id" suffix="END,">
                <foreach collection="entities" item="entity">
                    <if test="entity.discountAmount != null">
                        WHEN #{entity.couponId} THEN #{entity.discountAmount}
                    </if>
                </foreach>
            </trim>
            <trim prefix="begin_time = CASE coupon_id" suffix="END,">
                <foreach collection="entities" item="entity">
                    <if test="entity.beginTime != null">
                        WHEN #{entity.couponId} THEN #{entity.beginTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="end_time = CASE coupon_id" suffix="END,">
                <foreach collection="entities" item="entity">
                    <if test="entity.endTime != null">
                        WHEN #{entity.couponId} THEN #{entity.endTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="sum_quantity = CASE coupon_id" suffix="END,">
                <foreach collection="entities" item="entity">
                    <if test="entity.sumQuantity != null">
                        WHEN #{entity.couponId} THEN #{entity.sumQuantity}
                    </if>
                </foreach>
            </trim>
            <trim prefix="remaining_quantity = CASE coupon_id" suffix="END,">
                <foreach collection="entities" item="entity">
                    <if test="entity.remainingQuantity != null">
                        WHEN #{entity.couponId} THEN #{entity.remainingQuantity}
                    </if>
                </foreach>
            </trim>
            <trim prefix="limit_quantity = CASE coupon_id" suffix="END,">
                <foreach collection="entities" item="entity">
                    <if test="entity.limitQuantity != null">
                        WHEN #{entity.couponId} THEN #{entity.limitQuantity}
                    </if>
                </foreach>
            </trim>
        </trim>
        WHERE coupon_id IN
        <foreach collection="entities" item="entity" open="(" separator="," close=")">
            #{entity.couponId}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        DELETE
        FROM coupon
        WHERE coupon_id = #{couponId}
    </delete>
</mapper>


