server:
  port: 9000

spring:
  application:
    name: wzkris-auth
  profiles:
    active: @profiles.active@
    include: feign

weixin:
  miniapp:
    enable: true
    use-redis: true
    configs:
      - appid: xxx
        secret: xxx