<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzkris.user.mapper.MenuInfoMapper">

    <select id="listRouter" resultType="MenuInfoDO">
        SELECT * FROM biz.menu_info
        WHERE menu_type IN ('D', 'M', 'I', 'O') AND status = '0'
        <if test="menuIds != null and !menuIds.isEmpty()">
            AND menu_id IN
            <foreach collection="menuIds" item="menuId" separator="," open="(" close=")">
                #{menuId}
            </foreach>
        </if>
    </select>

</mapper>
