<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzkris.user.mapper.SysMenuMapper">

    <select id="listRouteTree" resultType="SysMenu">
        SELECT * FROM sys_menu
        WHERE menu_type IN ('D', 'M') AND status = '0' AND is_visible = true
        <if test="menuIds != null and !menuIds.isEmpty()">
            AND menu_id IN
            <foreach collection="menuIds" item="menuId" separator="," open="(" close=")">
                #{menuId}
            </foreach>
        </if>
    </select>

</mapper>
